@import 'src/styles/variables';

.container {
  position: relative;
  background-color: #051026;
}

.sharpUnderLiner {
  display: inline-block;
  padding: 0 10px 25px;

  &::after {
    margin-left: 20px;
    content: '';
    display: block;
    height: 6px;
    width: 280px;
    background-image: linear-gradient(to right bottom,
        transparent 0% 45%,
        #051026 50% 100%),
      linear-gradient(to right, #fbe62e 0%, #af1a3d 100%);
  }
}

.underLiner {


  &::after {
    margin-left: 20px;
    content: '';
    display: block;
    height: 6px;
    margin: 5px auto;
    height: 2px;
    background-image: linear-gradient(to right, #fbe62e, #af1a3d);
  }
}