@import 'src/styles/variables';
@import "../../styles/const";
.container {
  position: relative;
  background-color: #051026;
}

.sharpUnderLiner {
  display: inline-block;
  padding: 0 10px 25px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 28px;
  &::after {
    margin-left: 20px;
    content: '';
    display: block;
    height: 6px;
    width: 280px;
    background-image: linear-gradient(to right bottom,
        transparent 0% 45%,
        #051026 50% 100%),
      linear-gradient(to right, #fbe62e 0%, #af1a3d 100%);
  }
}

.underLiner {
  font-family: $noto-sans-font;
  font-weight: $weight-dim-light;
  font-size: 20px;;
  &::after {
    
    content: '';
    display: block;
    height: 6px;
    margin: 5px auto;
    margin-left: -15px;
    height: 2px;
    background-image: linear-gradient(to right, #fbe62e, #af1a3d);
  }
}