@import 'src/styles/variables.scss';

$border-radius: 20px;

@mixin team-content-container($color: $background-color) {
  padding: 11.5px;
  background-color: $color;
}
@mixin personIconDisplayWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@mixin personIconDisplayScroll {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display:none;
  }
}
@mixin personIcon($width: 120px, $height: 120px, $radius: 20px) {
  margin: 5px 0px;
  width: $width;
  height: $height;
  border-radius: $radius;
  object-fit: cover;
  object-position: 50% 0%;
}
