@import 'src/styles/variables.scss';
@import './team-mixins';
@import '../../../styles/const';

$image-container-width: 164px;
$image-container-height: 344px;

.container {
  @include team-content-container(white);
}

.members {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 40px;
}

$member-border-radius: 10px;

@mixin member {
  width: $image-container-width;
  height: $image-container-height;
  border: 0px;
  border-radius: $member-border-radius;
  margin: 2.5px 5px;
}

.redImageContainer {
  @include member;
  -webkit-filter: invert(40%) grayscale(100%) brightness(50%) sepia(100%) hue-rotate(-70deg) saturate(400%) contrast(0.8);
  filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(-70deg) saturate(500%) contrast(0.8);
}

.blueImageContainer {
  @include member;
  -webkit-filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(-210deg) saturate(1000%) contrast(0.7);
  filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(-205deg) saturate(1000%) contrast(0.7);
}

.greenImageContainer {
  @include member;
  -webkit-filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(120deg) saturate(1000%) contrast(0.8);
  filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(120deg) saturate(1000%) contrast(0.8);
}

.yellowImageContainer {
  @include member;
  -webkit-filter: grayscale(90%) brightness(80%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.8);
  filter: grayscale(90%) brightness(80%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.8);
}

.designationText {
  position: absolute;
  top: 20px;
  left: 16px;
  color: white;
  font-family: $montserrat-font;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  font-style: italic;
}

.ageTag {
  position: absolute;
  top: 0px;
  right: 15px;
  background-color: $black;
  height: 67px;
  width: 40px;
  font-size: 18px;
  border-radius: 0 0 10px 10px;
  text-align: center;
}
.ageTagContainer {
  margin: 0px 6.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.ageTitle {
  color: white;
  font-family: $montserrat-font;
  font-weight: $weight-sim-bold;
  font-size: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.ageValue {
  color: white;
  font-family: $montserrat-font;
  font-weight: $weight-sim-bold;
  font-size: 18px;
}
.titleSM {
  position: absolute;
  bottom: 40px;
  left: 12px;
  color: white;
  font-family: $noto-sans-font;
  font-weight: $weight-medium;
  font-size: 10px;
}

.titleLG {
  position: absolute;
  bottom: 10px;
  left: 12px;
  color: white;
  font-family: $noto-sans-font;
  font-style: normal;
  font-weight: $weight-medium;
  font-size: 20px;
}