@import './team-mixins';

.container {
  @include team-content-container();
}

.prospectContainer {
  position: relative;
  margin: 5px;
}
.prospects {
  @include personIconDisplayScroll();
}
.prospect {
  @include personIcon(144px, 144px, 5px);
  margin: 0px 9px;
}
