@import './team-mixins';

$image-container-width: 164px;
$image-container-height: 344px;

.container {
  @include team-content-container(white);
}

.members {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

$member-border-radius: 20px;

@mixin member {
  width: $image-container-width;
  height: $image-container-height;
  border: 0px;
  border-radius: $member-border-radius;
  margin: 6.5px 5px;
}

.redImageContainer {
  @include member;
  -webkit-filter: invert(40%) grayscale(100%) brightness(50%) sepia(100%) hue-rotate(-70deg) saturate(400%) contrast(0.8) blur(0.6px);
  filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(-70deg) saturate(500%) contrast(0.8) blur(0.6px);
}

.blueImageContainer {
  @include member;
  -webkit-filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(-210deg) saturate(1000%) contrast(0.7) blur(0.6px);
  filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(-205deg) saturate(1000%) contrast(0.7) blur(0.6px);
}

.greenImageContainer {
  @include member;
  -webkit-filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(120deg) saturate(1000%) contrast(0.8) blur(0.6px);
  filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(120deg) saturate(1000%) contrast(0.8) blur(0.6px);
}

.yellowImageContainer {
  @include member;
  -webkit-filter: grayscale(90%) brightness(80%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.8) blur(0.6px);
  filter: grayscale(90%) brightness(80%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.8) blur(0.6px);
}

.designationText {
  position: absolute;
  top: 15px;
  left: 20px;
  color: white;
  font-size: 1rem;
  font-weight: bolder;
  font-style: italic;
}

.ageTag {
  position: absolute;
  top: 0px;
  right: 20px;
  background-color: black;
  height: 67px;
  width: 40px;
  font-size: 18px;
  border-radius: 0 0 10px 10px;
  text-align: center;
}
.ageTitle {
  font-size: 11px;
}
.titleSM {
  position: absolute;
  bottom: 45px;
  left: 10px;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
}

.titleLG {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 1.4rem;
  font-weight: bolder;
}