@import 'src/styles/variables.scss';
@import './team-mixins';

.container {
  @include team-content-container();
}

.members {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.topMemberContainer {
  position: relative;
  margin: 10px 0px;
}

.topMember {
  @include personIcon(100%, 240px, 5px);
}

.topMemberCaption {
  position: absolute;
  width: 80%;
  top: 70%;
  padding: 2px 0px;
  color: white;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(24px);
  border-radius: 0 10px 10px 0;
}

.memberCaption {
  position: absolute;
  width: 50%;
  top: 65%;
  padding: 2px 0px;
  color: white;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(24px);
  border-radius: 0 10px 10px 0;
}

.topMemberName {
  line-height: 3rem;
  font-size: 1.4rem;
}

.topMemberTitle {
  color: $yellow;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
}
.member {
  @include personIcon(175px, 150px, 5px);
}
.memberName {
  font-size: small;
  line-height: 2rem;
}
