@import './team-mixins';

.container {
  @include team-content-container(white);
}

.angels {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.angelContainer {
  position: relative;
  padding: 5px 13px;
}
.angel {
  @include personIcon(100px, 100px);
}
