@import 'src/styles/variables.scss';
@import './team-mixins';

.container {
  @include team-content-container();
}

.members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.topMemberRow {
  margin: 15px 5px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.topMemberContainer {
  position: relative;
  width: 330px;
}

.topMember {
  @include personIcon(100%, 204px, 5px);
}

.topMemberCaption {
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(24px);
  border-radius: 0 10px 10px 0;
  font-size: 12px;
  top: 143px;
  height: 43px;
  width: 235px;
}

.memberCaption {
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(24px);
  border-radius: 0 10px 10px 0;
  top: 100px;
  height: 31px;
  width: 100px;
}

.topMemberName {
  line-height: 3rem;
  font-size: 22px;
}

.topMemberTitle {
  color: $yellow;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
  font-size: 12px;
}
.member {
  @include personIcon(154px, 143px, 5px);
  margin: 12.5px 11px;
}
.memberName {
  font-size: 14px;
  line-height: 2rem;
}
