.logo {
  padding: 20px 0;
  svg {
    margin: 0 auto;
  }
}

.title {
  text-align: center;
  letter-spacing: 0.2em;
  margin: 4px 20px;
  font-size: 1.5rem;
  white-space: pre-wrap;
}

.description {
  font-size: 0.9rem;
  padding: 20px;
  line-height: 2;
}
