@import 'src/styles/variables';

.container {
  position: relative;
  top: 0px;
  margin-bottom: 50px;
}

.cover {
  width: $window-width;
  height: 500px;
  box-sizing: content-box;
  padding-top: 15px;
  position: relative;
  background: red;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

.cover:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 100px solid #e2e2e2;
  border-left: $window-width solid transparent;
  border-right: 0px solid transparent;
}

.profileContainer {
  position: relative;
  bottom: 150px;
  z-index: 1;
  background: #051026;
  opacity: 0.85;
  height: 450px;
  margin: 0px 20px 0px 20px;
  border-radius: 10px;
}

.profilerImageContainer {
  position: absolute;
  top: -20px;
  height: 100px;
  width: 80px;
  margin: 0px 20px 20px 20px;
  background-image: linear-gradient(#edc74c, #bc4c49);
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.profilerImage {
  height: 94px;
  width: 74px;
  border-radius: 10px;
  margin: 3px 0px 0px 3px;
}

.profilerLink {
  position: relative;
  bottom: 120px;
  height: 80px;
  margin: 0px 20px 20px 20px;
  background-image: linear-gradient(to right, #bc4c49, #edc74c);
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.profilerDesignation {
  position: relative;
  bottom: 145px;
  float: right;
  height: 35px;
  margin: 0px 30px 20px 20px;
  background-color: #e9e8e8;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
