.montserrat {
  font-family: 'montserrat', sans-serif;
}

.livermore {
  font-family: 'livermore-script-atf', sans-serif;
}

.raleway {
  font-family: 'raleway', sans-serif;
}

.raleway-v2.0 {
  font-family: 'raleway-v20-deprecated', sans-serif;
}

.lato {
  font-family: 'lato', sans-serif;
}