@import "../../styles/const";

.wrapper {
  margin: 20px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  color: $text-black;
  text-align: center;
}

.heading {
  display: inline-block;
  padding: 0 10px 8px;

  &::after {
    margin: 10px -40px 0 -20px;
    content: '';
    display: block;
    height: 8px;
    background-image: linear-gradient(to right bottom, transparent 0% 45%, #ddd 50%, white 60% 100%), linear-gradient(to right, $gradient-yellow 0%, $gradient-red 100%);
  }
}