@import 'src/styles/variables.scss';
$caption-margin: 10px 10px 10px 5px;

@mixin withLeftBorder($color: $black, $font-weight: '') {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: $caption-margin;
  font-weight: $font-weight;
  font-size: 25px;
  color: $color;
}

.withLeftBorder[color='black'] {
  @include withLeftBorder($black);
}

.withLeftBorder[color='black'][data-font-weight='bold'] {
  @include withLeftBorder($black, bold);
}

.withLeftBorder[color='white'] {
  @include withLeftBorder(white);
}

.withLeftBorder[color='white'][data-font-weight='bold'] {
  @include withLeftBorder(white, bold);
}

@mixin withLeftBorderAndShadow($color: $black, $font-weight: '') {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: $caption-margin;
  font-weight: $font-weight;
  font-size: 2em;
  color: $color;
}

.withLeftBorderAndShadow[color='black'] {
  @include withLeftBorder($black);
}

.withLeftBorderAndShadow[color='black'][data-font-weight='bold'] {
  @include withLeftBorder($black, bold);
}

.withLeftBorderAndShadow[color='white'] {
  @include withLeftBorder(white);
}

.withLeftBorderAndShadow[color='white'][data-font-weight='bold'] {
  @include withLeftBorder(white, bold);
}

@mixin leftBorder($color: $black) {
  content: '';
  flex-grow: 1;
  height: 4.5px;
  display: block;
  background: $color;
}

@mixin leftBorderWithShadow($color: $black) {
  content: '';
  flex-grow: 1;
  height: 4.5px;
  display: block;
  background: $color;
  box-shadow: 4px 5px lightgrey;
}

.withLeftBorder[color='black']:before {
  @include leftBorder($black);
}

.withLeftBorder[color='white']:before {
  @include leftBorder(white);
}

.withLeftBorderAndShadow[color='black']:before {
  @include leftBorderWithShadow($black);
}

.withLeftBorderAndShadow[color='white']:before {
  @include leftBorderWithShadow(white);
}

.withLeftBorder:before {
  margin-right: 0.4em;
}

.withLeftBorderAndShadow:before {
  margin-right: 0.4em;
}

.large {
  display: flex;
  justify-content: flex-end;
  font-weight: 800;
  font-style: italic;
  font-size: clamp(52px, 16vw, 60px);
  line-height: 2.5rem;
  white-space: nowrap;
  margin: $caption-margin;
}

.medium {
  display: flex;
  justify-content: flex-end;
  font-weight: 800;
  font-style: Normal;
  font-size: 42px;
  line-height: 2.5rem;
  letter-spacing: 0.03em;
  white-space: nowrap;
  margin: $caption-margin;
}

.textShadow {
  text-shadow: 5px 5px 0 lightgrey;

}