@charset "UTF-8";
@import 'src/styles/variables.scss';

$montserrat-font:'Montserrat';
$noto-sans-font: 'Noto Sans CJK JP';
$weight-thin: 100;
$weight-light: 200;
$weight-dim-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-sim-bold: 600;
$weight-bold: 700;
$weight-black: 900;
