
@font-face {
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: 100;
    src: local("Noto Sans CJK JP Thin"), 
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-Thin.woff2') format('woff2'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-Thin.woff') format('woff'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-Thin.ttf') format('truetype'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-Thin.eot')
        format('embedded-opentype');
  }
  @font-face {
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: 200;
    src: local('Noto Sans CJK JP Light'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-Light.woff2') format('woff2'),
      format('embedded-opentype');
  }
  @font-face {
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans CJK JP Demi Light'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-DemiLight.woff2')
        format('woff2'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-DemiLight.woff') format('woff'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-DemiLight.ttf')
        format('truetype'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-DemiLight.eot')
        format('embedded-opentype');
  }
  @font-face {
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans CJK JP Regular'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-Regular.woff2') format('woff2'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-Regular.woff') format('woff'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-Regular.ttf') format('truetype'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-Regular.eot')
        format('embedded-opentype');
  }
  @font-face {
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans CJK JP Medium'), 
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-Medium.woff2') format('woff2'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-Medium.woff') format('woff'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-Medium.ttf') format('truetype'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-Medium.eot')
        format('embedded-opentype');
  }
  @font-face {
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans CJK JP Bold'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-Bold.woff2') format('woff2'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-Bold.woff') format('woff'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-Bold.ttf') format('truetype'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-Bold.eot')
        format('embedded-opentype');
  }
  @font-face {
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans CJK JP Black'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-Black.woff2') format('woff2'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-Black.woff') format('woff'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-Black.ttf') format('truetype'),
      url('../fonts/Noto-Sans/fonts/NotoSansCJKjp-Black.eot')
        format('embedded-opentype');
  }