@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'src/styles/variables.scss';

body {
  width: $window-width;
  margin-right: auto;
  margin-left : auto;
  background-color: black;
}