@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'src/styles/variables.scss';

body {
  width: $window-width;
  margin-right: auto;
  margin-left : auto;
  background-color: black;
}

.transition {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.close {
  margin-bottom: -50vw;
}

.open {
  margin-bottom: 0vw;
}