@charset "UTF-8";

@import 'src/styles/variables.scss';

@tailwind base;
@tailwind components;
@import './font';
@tailwind utilities;
@layer utilities {
  .bg-v-gradient {
    background-image: linear-gradient(
      rgba(251, 230, 46, 0.8),
      rgba(175, 26, 61, 0.8)
    );
  }

  .blur-3 {
    backdrop-filter: blur(3px);
  }

  .box-shadow-theme-header {
    box-shadow: var(--box-shadow-theme-header);
  }

  .background-theme-footer {
    background: var(--background-theme-footer);
  }

  .background-theme-button {
    background: var(--background-theme-button);
  }
}

.theme-light {
  --text-color-theme-main: #262626;
  --text-color-theme-sub: #ffffff;
  --text-color-theme-header: #262626;
  --bg-color-theme-main: #ffffff;
  --bg-color-theme-header: #ffffff;
  --box-shadow-theme-header: 0 3px 6px rgba(0, 0, 0, 0.16);
  --background-theme-footer: linear-gradient(70deg, #af1a3d, #fbe62e);
  --background-theme-button: linear-gradient(70deg, #af1a3d, #fbe62e);
}

.theme-gray {
  --text-color-theme-main: #050126;
  --text-color-theme-sub: #ffffff;
  --bg-color-theme-main: #ebebeb;
  --text-color-theme-header: #050126;
  --bg-color-theme-header: #ffffff;
  --box-shadow-theme-header: 0;
  --background-theme-footer: linear-gradient(70deg, #af1a3d, #fbe62e);
  --background-theme-button: linear-gradient(70deg, #af1a3d, #fbe62e);
}

.theme-black {
  --text-color-theme-main: #050126;
  --text-color-theme-sub: #ffffff;
  --bg-color-theme-main: #000000;
  --text-color-theme-header: #ffffff;
  --bg-color-theme-header: #000000;
  --box-shadow-theme-header: 0;
  --background-theme-footer: linear-gradient(70deg, #af1a3d, #fbe62e);
  --background-theme-button: linear-gradient(70deg, #af1a3d, #fbe62e);
}

.theme-light-gray {
  --text-color-theme-main: #050126;
  --text-color-theme-sub: #ffffff;
  --bg-color-theme-main: #fafafa;
  --text-color-theme-header: #ffffff;
  --bg-color-theme-header: #050126;
  --box-shadow-theme-header: 0;
  --background-theme-footer: linear-gradient(70deg, #af1a3d, #fbe62e);
  --background-theme-button: linear-gradient(70deg, #af1a3d, #fbe62e);
}

.theme-dark {
  --text-color-theme-main: #ffffff;
  --text-color-theme-sub: #fbe62e;
  --bg-color-theme-main: #051026;
  --text-color-theme-header: #ffffff;
  --bg-color-theme-header: #051026;
  --box-shadow-theme-header: 0;
  --background-theme-footer: #051026;
  --background-theme-button: #fbe62e;
}

body {
  max-width: $window-width;
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  font-family: 'Noto Sans CJK JP', sans-serif;
}
.ReactModal__Body--open {
  overflow: hidden;
}

.page-base-container {
  background-color: $black;
}

.page-base-body {
  min-height: calc(100vh - 110px);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(5, 16, 38);
  border-radius: 20px;
  background-color: #f5f5f5;
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  border-radius: 20px;
  background-color: #f5f5f5;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  height: 10px;
  width: 10px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 6px rgb(5, 16, 38);
  background-color: #555;
  scrollbar-width: thin;
}

button:focus {
  outline: none;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

.page-base-container {
  padding-top: 70px;
  overflow: hidden;
}

.modal-transition {
  transition: all 0.3s ease-out;
}

.close {
  opacity: 0;
}

.open {
  opacity: 1;
}
