@import 'src/styles/variables.scss';
@import "../../styles/const";

$gradient-middle: #90352b;

.faq {
  margin: 50px 0;
  color: #fff;
}

.questionWrapper {
  background: linear-gradient(to bottom, $gradient-yellow, $gradient-middle);
  border-radius: 20px;
  padding: 4px;
  margin-bottom: 52px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 60px;
    background: linear-gradient(to bottom, $gradient-middle, $gradient-red);
  }
  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -40px;
    left: 60px;
    border-left: 40px solid $black;
    border-top: 40px solid transparent;
  }
}

.questionContent {
  position: relative;
  background: $black;
  border-radius: 16px;
  padding: 20px;

  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -36px;
    left: 55px;
    border-left: 38px solid transparent;
    border-top: 38px solid $black;
  }
}

.questionTitle {
  display: inline-block;
  font-family: $montserrat-font;
  font-weight: $weight-bold;
  font-size: 16px;
  letter-spacing: 0.025em;
  line-height: 1.18;
}

.questionText {
  margin: 8px 0;
  font-family: $noto-sans-font;
  font-weight: $weight-dim-light;
  font-size: 18px;
  letter-spacing: 0.025em;
  line-height: 1.6;
}

.questionQuote {
  position: absolute;
  bottom: -30px;
  right: 50px;
  background: $black;
  padding: 0 4px;
}

.answerWrapper {
  margin: 32px;
  font-family: $noto-sans-font;
  font-weight: $weight-medium;
  font-size: 16px;
  letter-spacing: 0.025em;
  line-height: 1.6;
}

.answerTitle {
  display: inline-block;
  font-family: $montserrat-font;
  font-weight: $weight-bold;
  font-size: 24px;
  letter-spacing: 0.025em;
  line-height: 1.08;

  &::after {
    content: '';
    display: block;
    height: 3px;
    margin-right: -8px;
    background: linear-gradient(
      to right,
      $gradient-yellow 0%,
      $gradient-red 100%
    );
  }
}

.answerText {
  margin: 8px 0;
  font-family: $montserrat-font;
  font-weight: $weight-dim-light;
  letter-spacing: 0.025em;
  line-height: 1.5;
  font-size: 16px;
}
