@import 'src/styles/variables';

.navMenu {
  z-index: $nav-bar;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  max-width: $window-width;
  color: white;
  border-radius: 25px 25px 0 0;
  transition: all 0.3s ease-in-out;
}

.navToggleBtn {
  position: relative;
  top: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  height: 10px;
  width: 70px;
  cursor: pointer;
}

.close {
  height: 0px;
}

.open {
  height: 560px;
}