@import 'src/styles/variables';

.navMenu {
  z-index: $nav-bar;
  position: fixed;
  bottom: 0;
  width: $window-width;
  opacity: 0.97;
  background-image: linear-gradient(#f0cd0f, #8d0e2c);
  color: white;
  border-radius: 25px 25px 0 0;
  transition: all 1s ease-in-out;
}

.navToggleBtn {
  position: relative;
  top: 15px;
  left: 210px;
  background-color: white;
  border-radius: 10px;
  height: 10px;
  width: 70px;
  cursor: pointer;
}

.close {
  height: 0px;
}

.open {
  height: 560px;
}