@import './team-mixins';

.container {
  @include team-content-container(black)
}

.members {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}
.members::-webkit-scrollbar {
  display:none;
}
.member {
  margin: 5px 3px;
}