.content {
  color: white;
  margin: 20px 40px;
}

.caption {
  margin: 20px 0px;
}

.caption1 {
  color: yellow;
}

.caption2 {
  font-weight: bold;
  font-size: xx-large;
}

.description {
  margin: 20px 0px;
  font-size: larger;
  letter-spacing: 0.025em;
  font-weight: 200;
}

.attributeContainer {
  margin: 20px 0px;
  font-size: small;
}