@import 'src/styles/variables.scss';

.content {
  color: white;
  margin: 0px 40px;
  padding: 40px 0px;
}

.caption {
  margin: 0px 0px;
}

.caption1 {
  color: $yellow;
  font-size: small;
}

.caption2 {
  font-weight: bold;
  font-size: xx-large;
}

.description {
  margin: 20px 0px;
  font-size: small;
  letter-spacing: 0.025em;
  font-weight: 200;
}

.attributeContainer {
  margin: 20px 0px;
  font-size: small;
}