@import './team-mixins';

.container {
  @include team-content-container(white)
}

.members {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.member {
  margin: 5px 3px;
}