@import 'src/styles/variables.scss';

.container {
  padding: 10px;
  background-color: $background-color;
  color: white;
  height: 70px;
  width: $window-width;
  position: fixed;
  z-index: $header;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 7px 10px 0 5px;
}

.searchBar {
  position: absolute;
  top: 75px;
  z-index: $header;
  width: 400px;
}

.searchBtn {
  height: 48px;
  width: 50px;
  background-color: #f8e32d;
  border-radius: 50%;
}
