.navBar {
  z-index: 999;
  position: fixed;
  bottom: 0;
  width: 480px;
  height: 0px;
  opacity: 0.97;
  background-image: linear-gradient(#f0cd0f, #8d0e2c);
  color: white;
  border-radius: 25px 25px 0 0;
}

.navToggleBtn {
  position: relative;
  top: 15px;
  left: 210px;
  background-color: white;
  border-radius: 10px;
  height: 10px;
  width: 70px;
}

.navMenu {
  margin: 10px 0px 60px 0px;
}

.navMenu .navItem {
  display: inline-flex;
}

.navMenu .navText {
  margin-top: 15px;
  border-bottom: 1px solid lightgrey;
  width: 410px;
  font-size: 1.2em;
  font-weight: 200;
}

.disabled {
  cursor: not-allowed;
  color: gray;
}
