@import 'src/styles/variables';

.navBar {
  z-index: $nav-bar;
  position: fixed;
  bottom: 0;
  width: $window-width;
  height: 600px;
  opacity: 0.97;
  background-image: linear-gradient(#f0cd0f, #8d0e2c);
  color: white;
  border-radius: 25px 25px 0 0;
}

.navToggleBtn {
  position: relative;
  top: 15px;
  left: 210px;
  background-color: white;
  border-radius: 10px;
  height: 10px;
  width: 70px;
  cursor: pointer;
}

.navMenu {
  margin: 20px 0px 60px 0px;
}

.navMenu .navText {
  width: 415px;
}