.pageWrapper {
  background: #fff;
  padding: 20px;
}

.classCardWrapper {
  position: relative;
}

.joinInfo {
  padding: 20px 30px;
}

.joinTeam {
  font-size: 1.5rem;
  margin: 12px;
}

.teamName {
  text-decoration: underline;
  font-weight: 700;
  margin-right: 4px;
}

.description {
  margin: 20px 12px;
  line-height: 2;
}
