@import '../../styles/const';

.content {
  padding: 20px 38px;
}
.titleSub {

  font-family: $montserrat-font;
  font-weight: $weight-bold;
  font-style: italic;
  font-size: 20px;
  line-height: 2.5;
}
.titleMain {
  font-family: $montserrat-font;
  font-weight: $weight-bold;
  font-style: italic;
  font-size: 50px;
  line-height: 1;
}
.description {
  font-family: $noto-sans-font;
  font-weight: $weight-light;
  font-size: 18px;
  line-height: 1.66;
  margin-top: 20px;
}
.question {
  text-align: center;
  font-family: $noto-sans-font;
  font-weight: $weight-bold;
  font-size: 12px;
}
.sitemap {
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $montserrat-font;
  font-weight: $weight-sim-bold;
  font-size: 18px;
  line-height: 1.66;
  white-space: nowrap;
  margin: 0px 10px;
  color: $text-yellow;
}
.linksThemeWhite {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $montserrat-font;
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 1.66;
  white-space: nowrap;
  margin: 0px 10px;
  color: #262626;
}
.logo {
  width: auto;
  height: 108px;
  margin: 0px 10px;
}
.content-footer{
  font-family: $noto-sans-font;
  font-weight: $weight-light;
  font-size: 28px;
  line-height: 1.66;
}
.copyright {
  text-align: center;
  font-size: 12px;
  font-family: $montserrat-font;
  font-weight: $weight-light;
  line-height: 1.66;
  padding-bottom: 10px;
  padding-top: 3px;
  height: 30px;
}
.buttonText{
  color: $text-yellow;
  font-family: $noto-sans-font;
  font-weight: $weight-bold;
  font-size: 18px;
}