.content {
  padding: 40px;
  color: white;
}
.titleSub {
  font-weight: bold;
  font-style: italic;
  color: yellow;
}
.titleMain {
  font-weight: bold;
  font-style: italic;
  font-size: xx-large;
}
.description {
  margin: 20px 0px;
}
.question {
  text-align: center;
  font-size: small;
  color: yellow;
}
.sitemap {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: large;
  font-weight: bold;
  color: yellow;
}
.logo {
  width: 120px;
  height: auto;
}
.copyright {
  text-align: center;
  font-size: small;
  color: yellow;
}