@import '../../styles/const';
@import '../../styles/font';

.container {
  display: inline-block;
  border-radius: 20px;
  border: 1px solid $hashtag-color;
  color: $text-yellow;
  font-family: $noto-sans-font;
  font-weight: $weight-light;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 2.35;
  padding: 7px 14px 7px 14px;
  
  margin: 4px 7px 7px 0px;
  
}
