$hashtag-color: yellow;

.container {
  display: inline-block;
  border-radius: 10px;
  border: 1px solid $hashtag-color;
  color: $hashtag-color;
  font-size: small;
  padding: 1px 10px 2px;
  margin: 2px;
}
