$hashtag-color: #f6e05e;

.container {
  display: inline-block;
  border-radius: 20px;
  border: 1px solid $hashtag-color;
  color: $hashtag-color;
  font-size: medium;
  letter-spacing: 0.025em;
  padding: 8px 20px 8px;
  margin: 4px 7px 7px 0px;
  font-weight: 200;
}
