@import 'src/styles/variables';
@import './../team/TeamContents/team-mixins';

.container {
  position: relative;
  margin-bottom: 50px;
  background-color: #fafafa;
  font-family: 'montserrat', sans-serif;
}

.companyImageContainer {
  height: 400px;
}

.contactInfo {
  position: relative;
  height: 200px;
  background-image: linear-gradient(#051026, transparent);
  padding-top: 20px;
  font-weight: 100;
}

.companyInfo {
  position: relative;
  height: 200px;
  background-image: linear-gradient(transparent, #051026);
}

.labelHeaderBox {
  height: 45px;
  width: 370px;
  background-image: linear-gradient(to right, #27d8df, #3b4491);
  box-shadow: 5px 7px lightgrey;
}

.members {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.member {
  @include personIcon(185px, 155px, 5px);
}

.redFilter {
  -webkit-filter: invert(40%) grayscale(100%) brightness(45%) sepia(100%)
    hue-rotate(-70deg) saturate(400%) contrast(0.8) blur(0.6px);
  filter: grayscale(100%) brightness(45%) sepia(100%) hue-rotate(-70deg)
    saturate(500%) contrast(0.8) blur(0.6px);
}

.blueFilter {
  -webkit-filter: grayscale(100%) brightness(50%) sepia(100%)
    hue-rotate(-210deg) saturate(1000%) contrast(0.7) blur(0.6px);
  filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(-205deg)
    saturate(1000%) contrast(0.7) blur(0.6px);
}

.greenFilter {
  -webkit-filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(120deg)
    saturate(1000%) contrast(0.8) blur(0.6px);
  filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(120deg)
    saturate(1000%) contrast(0.8) blur(0.6px);
}

.yellowFilter {
  -webkit-filter: grayscale(90%) brightness(80%) sepia(90%) hue-rotate(5deg)
    saturate(500%) contrast(0.8) blur(0.6px);
  filter: grayscale(90%) brightness(80%) sepia(90%) hue-rotate(5deg)
    saturate(500%) contrast(0.8) blur(0.6px);
}

.memberCaption {
  position: absolute;
  width: 50%;
  top: 67%;
  padding: 2px 0px;
  color: white;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(24px);
  border-radius: 0 10px 10px 0;
}

.memberName {
  font-size: small;
  line-height: 2rem;
}
