@import "../../styles/const";

.wrapper {
  margin: 20px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  color: $text-white;
  text-align: center;
}

.heading {
  display: inline-block;
  padding: 0 10px 8px;

  &::after {
    margin: 10px -20px 0;
    content: '';
    display: block;
    height: 8px;
    background-image: linear-gradient(to right bottom, transparent 0% 45%, black 50% 100%), linear-gradient(to right, $gradient-yellow 0%, $gradient-red 100%);
  }
}