@import 'src/styles/variables.scss';
@import "../../styles/const";

.wrapper {
  margin: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: $text-white;
  text-align: center;
}

.heading {
  display: inline-block;
  padding: 0 10px 8px;
  font-family: $montserrat-font;
  &::after {
    margin: 2px -25px 0 -10px;
    content: '';
    display: block;
    height: 6px;
    background-image: linear-gradient(to right bottom, transparent 0% 45%, $black 50% 100%), linear-gradient(to right, $gradient-yellow 0%, $gradient-red 100%);
  }
}